.About {
	color: $primary-text-color;
	line-height: 2rem;
	letter-spacing: 0.05rem;
	max-width: 43rem;
	margin-left: auto;
	margin-right: auto;

	@include breakpoint(md){
		padding-left: 15%;
		padding-right: 15%;
	}

	@include breakpoint(sm){
		padding-left: 10%;
		padding-right: 10%;
	}

	.pax-me-img{
		width: 45%;
		position:relative;
		display: block;
		float:left;
		padding-top: 7.5rem;
		padding-right:3rem;

		@include breakpoint(md){
			display:none;
		}
	}
	.about-block{
		display: block;
		padding-top: 8rem;
		z-index:-1;
	}

	p{
		font-size: 0.90rem;
		text-align: center;
		text-decoration: none;
	}	

	.center {
		text-align: center;
		padding-bottom: 2rem;
	}

	ul{
		text-align: center;
		text-decoration: none;
		padding-bottom:2rem;
	}

	a{
		text-decoration:none;
		color: $link-color;

		&:hover {
			color: $link-hover-color;
		}
	}
}