header {
	position: relative;
	margin-left: 0.125rem;
	margin-right: 0.125rem;

	.banner {
        max-width: 100%;
        width:100%;
		position: relative;

		@include breakpoint(md){
			display:none;
		}
    }
    
    .artistBlock {
		position: absolute;
		bottom: 5%;
		z-index: 1;
		color: $primary-text-color;
		width: 100%;

		@include breakpoint(md){
			height: 5.813rem;
			display:block;
			padding-top:0.625rem;
			position: relative !important;
		}

		.artistImg {
			position: relative;
			width: 6.25rem;
			left: 50%;
			margin-left: -3.125rem;
			padding-bottom: 0.625rem;
			
			@include breakpoint(md){
				display:none;
			}
		}

		h1{		
			font-size: 2rem;
			font-weight: bold;
			text-align: center;
			line-height: 3rem;

			@include breakpoint(md){
				line-height: 2.5rem !important;
			}
		}
		h3{
			font-size: 1rem;
			text-align: center;
			font-weight: 400;	
			line-height: 3rem;	

			@include breakpoint(md){
				font-size: 0.9rem !important;
				line-height: 2.2rem;
			}
		}
	}
}