.gallery {
	width: 98%;
	margin: auto;
	text-align: center;
	padding-top:6.0rem;

	.imageList {
		margin-left:0.0625rem;
		margin-right:0.0625rem;

		.image{
			width: calc(16.66666666% - 0.25rem); //6 images across
			padding:0.125rem;
			display: inline-block;
			opacity:1.0;

			&:hover{
				opacity:0.9;
			}

			&:focus{
				opacity:0.9;
			}

			@include breakpoint(lg){
				width: calc(25% - 0.25rem); //4 images across
			}

			@include breakpoint(sm){
				width: calc(50% - 0.25rem); //2 images across
			}
		}
	}
}