.imageview-main-container{
	width:96%;
	margin:auto;

	@include breakpoint(md){
		width:100%;
	}
}

.image-view{
	padding-top: 0.625rem;
	font-family: $font-stack;

	.back-button{
		padding-top: 0.125rem;
		border: 0rem;
		display: block;
		cursor: pointer;
		float:right;
		opacity: 0.5;
		filter: alpha(opacity=50); /* For IE8 and earlier */
		font-size: 1.5rem;
		font-weight: 1000;

		&:hover{
			opacity: 1;
			filter: alpha(opacity=100);  /* For IE8 and earlier */
		}

		@include breakpoint(md){
			display:none;
		}
	}
	
	.img-block{
		-webkit-flex: 1; /* Safari 6.1+ */
		-ms-flex: 1; /* IE 10 */ 
		flex: 1;
		display: flex;
		align-items: center;
		justify-content: center;
		min-width:15rem;

		@include breakpoint(md){
			display:block;
		}

		img{
			max-width: 94%;
			max-height: 100vh;
			display: block;
			margin:auto;

			@include breakpoint(md){
				max-width:100%;
				max-height: 90vh;
				margin:auto;
			}

			@include breakpoint(sm){
				max-height: 80vh;
			}
		}

		.arrow{
			margin:0.5rem;
			font-size: 2rem;
            cursor: pointer;
			opacity: 0.5;
			filter: alpha(opacity=50); /* For IE8 and earlier */

			&:hover{
				opacity: 1.0;
				filter: alpha(opacity=100); /* For IE8 and earlier */
			}

			@include breakpoint(md){
				display:none;
			}
		}

		.loader{
			margin:10rem 10rem 0rem 10rem;
			height: 22rem;
			display: block;

			@include breakpoint(md){
				width:100%;
				margin-left:auto;
				margin-right: auto;
				margin-top:5rem;
				height: 15rem;
			}

			@include breakpoint(sm){
				width:100%;
				margin-left:auto;
				margin-right: auto;
				margin-top:5rem;
				height: 15rem;

			}

			img{
				max-width:100%;
				margin:auto;
			}
		}

		.hidden-image-loader {
			display: none;
		}
		
		.btn-block{
			display:none;

			@include breakpoint(md){
				display: block;
				margin: auto; 
				text-align: center;
				margin-top:1.5rem;

				.mobile-btn{
					display:inline-block;
					margin:auto;
					font-size:2.0rem;
					padding: 0.7rem 1.5rem 0 2rem;
					cursor: pointer;
					opacity: 0.5;
					filter: alpha(opacity=50); /* For IE8 and earlier */
				
					&:hover{
						opacity: 1.0;
						filter: alpha(opacity=100);  /* For IE8 and earlier */
					}
				}
			}
		}
	}
}