.menubar {
	ul {
		position: fixed;	
		background-color: $menubar-color;
		top:0;
		font-size: 1rem;
		line-height: 2rem;
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: $min-width;
		z-index:2;

		& > li {
			&:nth-of-type(2){
				margin-left:auto;
			}

			a {
				display: inline-block;
				color: $primary-text-color;
				text-decoration:none;
				text-align: center;
				margin: 2.0rem 1.8rem 2.0rem 0rem;

				&:hover {
					color: $menubar-link-hover-color;
				}

				&:focus {
					color: $menubar-link-hover-color;
				}
			}

			.active{
				color: $menubar-link-hover-color;
			}
		}

		.title-block{
			a{	
				display: inline-block;
				margin: 2.0rem 0rem 2.0rem 1.8rem;
			}
			

			h1{
				font-size: 1.8rem;
				font-weight: strong;
		
				.accent{
					color: $secondary-color;
				}
			}
		}

		.nav-link{
				&:hover{
					border-bottom: 0.05rem solid $menubar-link-hover-color;
					padding-top: -0.5rem;
				}

				&:focus{
					border-bottom: 0.05rem solid $menubar-link-hover-color;
					padding-top: -0.5rem;
				}
		}
	}
}
