@import './base/reset';
@import './abstracts/variables';
@import './abstracts/mixins';
@import './components//photoGallery';
@import './components/menuBar';
@import './components/burger';
@import './components/menu';
@import './components/gallery';
@import './components/about';

body {
	background-color: $primary-color;
	font-family: $font-stack;
	text-decoration: none;
	line-height: 2rem;
	font-size: 1.05rem;
	color: $primary-text-color;

	a {
		color: $secondary-color;
		text-decoration: none
	}

	a:focus, a:hover, a:active {
		color: $link-hover-color
	}
}

.copyright{
	font-size: 0.7rem;
	color: $primary-text-color;
	text-align: center;
	padding: 0.625rem;
	line-height: 2rem;
}
