@import './base/reset';
@import './abstracts/variables';
@import './abstracts/mixins';

body{
	background-color: $primary-color;
	font-family: $font-stack;
}

.copyright{
	font-size: 0.7rem;
	color: $primary-text-color;
	text-align: center;
	padding: 0.625rem;
	line-height: 2rem;
}
